@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.game {
  height: 100vh;
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%),
    hsl(237, 49%, 15%)
  );
  padding: 2rem 0;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .board {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    width: min(40rem, 90%);
    border: 0.2rem solid #3d4b66;
    border-radius: 1rem;

    .title {
      line-height: 1.7rem;
    }
  }

  .score {
    padding: 0.5rem;
    width: 7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 0.5rem;

    .number,
    span {
      color: hsl(215, 44%, 47%);
      font-weight: 600;
      letter-spacing: 0.2rem;

      &.number {
        color: hsl(235, 10%, 45%);
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: unset;
      }
    }
  }

  .hands {
    height: -webkit-fill-available;
    position: relative;
    transform: translateX(4rem);
    perspective: 10rem;
    z-index: 2;

    .hand {
      z-index: 2;
    }

    & > div {
      position: absolute;
      display: grid;
      place-content: center;
      border-radius: 50%;
      background-color: #eee;
      height: 12rem;
      width: 12rem;
      border: 1.5rem solid hsl(39, 89%, 49%);
      box-shadow: 0 0.5rem hsl(39, 89%, 40%);
      transition: all 0.4s ease-in-out;
    }

    .hand-0 {
      transform: translateX(-19rem);
      border-color: hsl(349, 71%, 52%);
      box-shadow: 0 0.5rem hsl(349, 71%, 40%);
    }

    .hand-2 {
      transform: translateX(-9rem) translateY(13rem);
    }

    .hand-5 {
      /* transform: translateX(-4rem); */
      border-color: hsl(230, 89%, 62%);
      box-shadow: 0 0.5rem hsl(230, 89%, 40%);
    }

    .selected {
      transform: translateX(-20rem) translateY(7rem) translateZ(2rem);
    }

    .res {
      transform: translateX(1rem) translateY(7rem) translateZ(2rem);
      z-index: 2;
    }
  }
}
.hide {
  opacity: 0;
  z-index: 1 !important;
}

.result {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    text-transform: uppercase;
    text-align: center;
  }
  & > button {
    color: hsl(235, 10%, 45%);
  }
}

@media only screen and (max-width: 1000px) {
  .game {
    .hands {
      .hand {
        width: 10rem;
        height: 10rem;
        border-width: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .game {
    .hands {
      .hand {
        width: 8rem;
        height: 8rem;
        /* border-width: 0.5rem; */
        &.hand-0 {
          transform: translateX(-14rem);
        }

        &.hand-2 {
          transform: translateX(-8rem) translateY(9rem);
        }

        &.hand-5 {
          transform: translateX(-2rem);
        }
      }
    }
  }

  .selected {
    transform: translateX(-14rem) translateY(7rem) !important;
  }

  .res {
    width: 8rem;
    height: 8rem;
    transform: translateX(-2rem) translateY(7rem) !important;
  }
}
